---
import { Content } from "../classes/Content";

interface Props {
  content: Content;
}

const { content }: { content: Content } = Astro.props;
---

<a
  class="ContentTile"
  href={`/document/${content.head.replace(/\s+/g, "-").toLowerCase()}_${content.id}`}
>
  <!-- <img src={content.imageUrl} alt={content.head} /> -->
  <div class="details">
    <h2>{content.head}</h2>
    <p>{content.body}</p>
  </div>
</a>

<style lang="scss">
  .ContentTile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(198, 198, 198);

    img {
    }

    .details {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1.125rem;
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        font-size: 1rem;
      }
    }
  }
</style>
